
/settings.py
/local_settings.py
*.sqlite3
*.pyc
__pycache__/
/venv/
*.env
/media/
/static/
/logs/
.idea/
.vscode/
*.pyc
*.pyo
__pycache__/
.env
.env.local
.env.*.local
.env.override
.env.local.override
*.mo
/.venv/
/pip-selfcheck.json
*.swp
*~